@media (min-width: 992px) {
    .subtitle {
        color: black;  
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .main-heading {
        color: #BAE60A;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 40px;
    }
  
    .form-control {
      font-size: 1.2rem;
    }
  
    button {
      font-size: 1.2rem;
    }
  }

  .contact{
    max-width: 100% !important;
    margin: auto;   
  }
  
  /* For medium screens */
  @media (min-width: 768px) and (max-width: 991px) {
    .subtitle {
        color: black;  
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .main-heading {
        color: #BAE60A;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 40px;
    }
  
    .form-control {
      font-size: 1rem;
    }
  
    button {
      font-size: 1rem;
    }
  }
  
  /* For small screens */
  @media (max-width: 767px) {
    .subtitle {
        color: black;  
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .main-heading {
        color: #BAE60A;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 40px;
    }
  
    .form-control {
      font-size: 0.9rem;
    }
  
    button {
      font-size: 0.9rem;
    }
  }